.App {
    min-height: 100vh;
    background-color: #182b32;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select:text;
  }

  .a{
      all: unset;
      width: 100%;
      display: block;
  }

  
  body{
    -webkit-tap-highlight-color: transparent;
  }