  .grid {
    display: grid;
    min-width: 300px;
    min-height: 300px;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .element {
    background-color: #1f3540;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 5px 0 1px #0e212a;
    cursor: pointer;
    position: relative;
  }

  .element.x::after,
  .element.x::before {
    position: absolute;
    content: "";
    width: 10px;
    border-radius: 3px;
    height: 45px;
    background-color: #35c7c0;
  }

  .element.x::after {
    transform: rotate(45deg);
  }

  .element.x::before {
    transform: rotate(-45deg);
  }


  .element.o::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .element.o::after {
    box-shadow: 0 0 0 10px #f3b236;
  }

  .element.x,
  .element.o {
    cursor: not-allowed;
    pointer-events: none;
  }


  @media (hover:hover) {
    .grid.x .element:not(.x):not(.o):hover::after,
    .grid.x .element:not(.x):not(.o):hover::before {
      position: absolute;
      content: "";
      width: 10px;
      border-radius: 3px;
      height: 45px;
      background-color: #35c7c0;
    }

    .grid.x .element:not(.x):not(.o):hover::after {
      transform: rotate(45deg);
      background-color: hsla(177, 58%, 49%, 0.5);
    }

    .grid.x .element:not(.x):not(.o):hover::before {
      transform: rotate(-45deg);
      background-color: hsla(177, 58%, 49%, 0.5);
    }

    .grid.o .element:not(.x):not(.o):hover::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px hsl(39, 89%, 58%, 0.5);
    }

  }